@model AppLivraria_TsT.Models.DTO.Produto_DTO
@{ ViewBag.Title = "Detalhes";}

        <div class="container" id="code_prod_detail" style="margin-top: 50px">
            <div class="card">
                <div class="row no-gutters">
                    <aside class="col-sm-5 border-right">
                        <article class="gallery-wrap">
                            <div class="img-big-wrap">
                                <div> <a href="@Model.Imagem" data-fancybox=""><img src="@Model.Imagem"></a></div>
                            </div>
                            <div class="img-small-wrap">
                                <div class="item-gallery"> <img src="@Model.Imagem"></div>
                                <div class="item-gallery"> <img src="@Model.Imagem"></div>
                                <div class="item-gallery"> <img src="@Model.Imagem"></div>
                                <div class="item-gallery"> <img src="@Model.Imagem"></div>
                            </div> 
                        </article> 
                    </aside>
                    <aside class="col-sm-7">
                        <article class="p-5">
                            <h3 class="title mb-3">@Model.NomeProd</h3>

                            <div class="mb-3">
                                <var class="price h3 text-warning">
                                    <span class="currency">R$</span><span class="num">@Model.PrecoUni</span>
                                </var>
                                <span></span>
                            </div>
                            <dl>
                                <dt>Descrição</dt>
                                <dd>
                                    <p>
                                        @Model.Descricao
                                    </p>
                                </dd>
                            </dl>
                            <dl class="row">
                                @if (Model.Categiria != "Produto")
                                {
                            <dt class="col-sm-3">ISBN</dt>
                                            <dd class="col-sm-9">@Model.ISBN </dd>

                                                            <dt class="col-sm-3">Autor</dt>
                                                                            <dd class="col-sm-9">@Model.Autor</dd>
}

                                <dt class="col-sm-3">Codigo</dt>
                                <dd class="col-sm-9">@Model.IdProd </dd>
                                <dt class="col-sm-3">Categoria</dt>
                                <dd class="col-sm-9">@Model.Categiria </dd>

                                <dt class="col-sm-3">Estoque</dt>
                                <dd class="col-sm-9">@Model.Estoque</dd>


                            </dl>
                            <div class="rating-wrap">

                                <ul class="rating-stars">
                                    <li style="width:80%" class="stars-active">
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </li>
                                </ul>
                                <div class="label-rating">132 Visualização</div>
                                <div class="label-rating">154 Compras </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-5">
                                    <dl class="dlist-inline">
                                        <dt>Quantidade: </dt>
                                        <dd>
                                            <select class="form-control form-control-sm" style="width:70px;">
                                                <option> 1 </option>
                                                <option> 2 </option>
                                                <option> 3 </option>
                                                <option> 4 </option>
                                                <option> 5 </option>
                                            </select>
                                        </dd>
                                    </dl>
                                </div>

                            </div>
                            <hr>
                            
                            @using (Html.BeginForm("AdicionarCarrinho", "Home", FormMethod.Post))
                            {
                                <a href="/Home/Index" class="btn  btn-primary"> Voltar </a>
                                <input type="hidden" name="id" value=@Model.IdProd>
                                <input type="hidden" name="pre" value=@Model.PrecoUni>
                                <input type="hidden" name="imagem" value=@Model.Imagem>
                                <input type="hidden" name="quantidade" value="1">
                                <button type="submit" class="btn btn-sm btn-outline-primary">Adicionar Carrinho<i class="fas fa-shopping-cart"></i></button>
                                @*<a href="" class="btn btn-sm btn-primary float-right">Comprar</a>*@
                            }
                           @*<a href="/Home/Index" class="btn  btn-primary"> Voltar </a>*@
                            @*<a href="/home/Carrinho" class="btn  btn-outline-primary">
                                <i class="fas fa-shopping-cart"></i> Adicionar Carrinho
                            </a>*@
                        </article> 
                    </aside> 
                </div> 
            </div> 
        </div>

    

    <!-- Bootstrap core JavaScript
              ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="resources/lib/holder/holder.min.js"></script>
    <script src="resources/lib/jquery3.3.1/jquery-3.3.1.min.js"></script>
    <script src="resources/lib/popper1.14.6/popper.min.js"></script>
    <script src="resources/lib/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
